
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

.bg-blue-vivid{
  background-color: #3b83f6e6;
}

.text-blue-vivid{
  color: #3b83f6e6;
}


@layer base {

  body {
    font-family: 'Poppins', sans-serif;
  }
}
